<!-- FILEPATH: /e:/Documentos/Projetos Front-End/study-angular/src/app/body/body.component.html -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to the Store</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Section 1</h2>
      <p>This is the first section of the store.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Section 2</h2>
      <p>This is the second section of the store.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Section 3</h2>
      <p>This is the third section of the store.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Section 4</h2>
      <p>This is the fourth section of the store.</p>
    </div>
  </div>
</div>






